/.*
/scripts
/docs
/site

/*.json
/*.json5
/*.yml
/*.toml
/*.md
/*.txt
/*.tgz

*.d.lua
**/*.spec.lua
**/*.test.lua
**/tests
**/__tests__
**/jest.config.lua

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
